

.content-container { padding: 80px; }

.banner {
    margin: 2px auto 0px;
    max-width: 540px;
}


.banner__text-extralight,
.banner__text-semibold {
    font-size   : 36px;
    line-height : 50px;
}


.card-supervisor  { grid-area : s ; }
.card-teambuilder { grid-area : t ; }
.card-karma       { grid-area : k ; }
.card-calculator  { grid-area : c ; }


.card-container {
    grid-gap: 30px;
    grid-template-columns : auto auto auto;
    align-items: center;
    grid-template-areas :
        "s t c"
        "s t c"
        "s k c"
        "s k c";
    
    margin-top: 64px;
}


.card {
    width  : 350px;
    height : 250px;
}


.card__text {
    margin-top: 10px;
}

.card__logo {
    width  : 64px;
    height : 64px;
}