

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


$Red    : hsl(0,   78%, 62%) ;
$Cyan   : hsl(180, 62%, 55%) ;
$Orange : hsl(34,  97%, 64%) ;
$Blue   : hsl(212, 86%, 64%) ;

$Very-Dark-Blue  : hsl(234, 12%, 34%) ;
$Grayish-Blue    : hsl(229, 6%,  66%) ;
$Very-Light-Gray : hsl(  0, 0%,  98%) ;


* {
    margin     : 0          ;
    padding    : 0          ;
    box-sizing : border-box ;
    
    font-family : 'Poppins', sans-serif ;
    line-height : 1.5                   ;
}


html { background-color: $Very-Light-Gray; }


.content-container {
    padding   : 84px 32px 78px;
    min-width : 375px ;
}



/* -------------------------------- <banner> -------------------------------- */
.banner {
    max-width    : 420px ;
    margin-left  : auto  ;
    margin-right : auto  ;

    text-align : center;
}


.banner__text-extralight {
    padding : 0 4px 0 2px ;

    font-weight    : 200     ;
    font-size      : 24px    ;
    letter-spacing : 0.005em ;  // 0.05%
}


.banner__text-semibold {
    font-weight    : 600     ;
    font-size      : 24px    ;
    letter-spacing : 0.005em ;
}


.banner__text-regular {
    margin-top : 16px;
    
    color          : $Grayish-Blue ;
    font-weight    : 400           ;
    font-size      : 15px          ;
    letter-spacing : 0.005em       ;
    line-height    : 25px          ;  // directly didn't work
}
/* ------------------------------- <banner /> ------------------------------- */



.card-container {
    display               : grid ;
    grid-template-columns : repeat(auto-fit, minmax(250px, 350px) ) ;
    grid-gap              : 24px ;
    justify-content       : center;

    margin-top    : 75px;
}



/* --------------------------------- <card> --------------------------------- */
.card {
    display        : flex   ;  // to enable margin-top:auto; in children
    flex-direction : column ;  // to avoid breaking things

    // Card doesn't need width - we are setting it with grid column width
    height        : 222px           ;
    padding       : 24px 28px 28px  ;
    border-radius : 5px             ;

    background-color : white                                   ;
    box-shadow       :  1px 15px 20px 0px rgba(100,100,150,0.1);
}
.card-supervisor  { border-top : 4px solid $Cyan   ; }
.card-teambuilder { border-top : 4px solid $Red    ; }
.card-karma       { border-top : 4px solid $Orange ; }
.card-calculator  { border-top : 4px solid $Blue   ; }


.card__heading {
    font-weight    : 600       ;
    font-size      : 20px      ;
    line-height    : 25px      ;
    letter-spacing : -0.0075em ;
}


.card__text {
    margin : 6px 1px 0 ;

    color          : $Grayish-Blue ;
    font-weight    : 400           ;
    font-size      : 13px          ;
    line-height    : 23px          ;
    letter-spacing : 0.005em       ;
}


.card__logo {
    margin-left : auto  ;
    margin-top  : auto  ;
    width       : 57px  ;
    height      : 57px  ;

    & img {
        width  : 100% ;
        height : 100% ;
    }
}
/* -------------------------------- <card /> -------------------------------- */



@media screen and (min-width: 1120px) { @import './desktop'; }